<h2>Your orders</h2>
<table class="table table-bordered">
	<tr>
		<th>Name of product</th>
		<th>price</th>
		<th>shop</th>
	</tr>

<% if @items.present? %>
<%@items&.each do |order|%>
	<tr>
	<td><%=order.product.name%></td>
	<td><%=order.product.price%></td>
	<td><%=order.product.shop.name%></td>
	</tr>
<%end%>
<%else%>
<p>No orders Yet!!!</p>
<%end%>
</table>