<h1>All conversations</h1>
<%@converstions.each do |converstion|%>
	<% if converstion.sender_id == current_user.id || converstion.recipient_id == current_user.id%>
	<% if converstion.sender_id == current_user.id%>
	<% recipient = User.find(converstion.recipient_id)%>
	<%else%>
	<% sender = User.find(converstion.sender_id)%>
	<%end%>
	<h3><%= link_to recipient.email, converstion_messages_path(converstion)%></h3>
	<%end%>
	<%end%>

	<h1>All Users</h1>

	<%@users.each do |user|%>
	 <% if user.id != current_user.id%>
	 <h3><%= link_to user.email,converstions_path(sender_id: current_user.id, recipient_id: user.id), method: "post"%></h3>
	<%end%>
	<%end%>